@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html {
    display: flex;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header, footer {
    display: flex;
    padding: 10px;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}

header {
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

header a {
    color: white;
}

header h1, .logo {
    color: #F9FAF8;
}

header h1 {
    font-size: 48px;
    font-weight:bolder;
}

.logo {
    font-size: 24px;
    font-family: 'Pacifico', cursive;
}

.header-bar, .intro {
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding: 10px 0px 50px 0px;
}

header img {
    width: 400px;
}

header ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    
}

section {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#section-one {
    flex-direction: column;
    flex: 1 15%;
    margin: 0;
    padding: 0px 30px;
}

.simple-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
}

.simple-content {
    flex-direction: column;
    max-width: 100px;
}

.simple-content img{
    border: 1px solid rgb(83, 20, 55);
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.simple-content a {
    color: rgb(21, 4, 121);
}

.simple-content a:hover {
    text-shadow:0px 0px rgb(226, 217, 217);
    background-color: whitesmoke;
}

#section-two {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    padding: 10px 30px;
    flex: 0 auto;
}

#section-three {
    display: flex;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3d5474;
    border-radius: 20px;
    padding: 0px 60px 30px 60px;
    color: #F9FAF8;
}

#text {
    display: block;
    margin: 0px 0px 10px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type=email] {
     width: 257px;
}

footer {
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width:1000px) {

    .header-bar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .header-bar ul {
        padding: 0;
    }

    .intro {
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .contact-container {
        width: 100%;
        border-radius: 0;
        justify-content: center;
        align-items: center;
    }

    #section-one {
        margin-bottom: 10px;
    }

}
